<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
</head>
<body>
<div class="container" >
	<center>
    <h1>RESET PASSWORD PAGE </h1>
    	</center>
    <form method="post" class="form-horizontal" action="/forgot/">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-md-3 control-label">Enter your Email</label>
                <div class="col-md-5">
                    <input type="email" name="email4" class="form-control" required placeholder="Enter your Email address">
                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-offset-4">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                   <a href="/"> <button type="button" class="btn btn-danger"  >Back</button></a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</form>
</div>


</body>
</html>
