{% load socialaccount %}
{% providers_media_js %}


<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Scope+One" rel="stylesheet">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login2.css' %}">


</head>
<body>
<div class="container">


    </div><!--end of container-->

</body>
</html>
